<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="home"><img src="../../assets/imagens/brq-digital-solutions.png" style="width:70px"
                alt="logo da brq-digital-solutions"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login">Gerenciamento de Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="solicitacao">Solicitacao de Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="display: none" href="catalago">Catalago de Produtos</a>
                </li>
            </ul>
            <div class="dropdown" style="float: right; margin-right: 50px; display: none">
                <img class="usuario" src="../../assets/imagens/magali.png" style="width: 50px; border-radius: 10px"
                    alt="foto do usuario">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="margin-left: 15px;">
                    Magali Sangioto
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="login">Sair</a>
                    <a class="dropdown-item" href="#">Usuarios</a>
                </div>
            </div>
        </div>
    </nav>
  