<h3 style="text-align: center; margin-top: 15px;">
    Solicitação de Produto</h3>

<!-- Button trigger modal -->

<form>
    <div class="row">
        <div class="col-3">
            <input [(ngModel)]="solicitar.nomeGestor" name="nomeSolicitante" type="text" class="form-control" placeholder="Nome do Gestor">
        </div>
        <div class="col-3">
            <input [(ngModel)]="solicitar.nomeSolic" name="nomeSolicitante" type="text" class="form-control" placeholder="Nome do Solicitante">
        </div>
        <div class="col-3">
            <input [(ngModel)]="solicitar.nomeProduto" name="nomeProduto" type="text" class="form-control" placeholder="Nome do Produto">
        </div>
        <div class="col-3">
            <input [(ngModel)]="solicitar.qntProduto" name="qntProduto" type="number" class="form-control" placeholder="Quantidades">
        </div>
        <div class="col-3">
            <input [(ngModel)]="solicitar.centroCusto" style="margin-top: 10px" name="centroCusto" type="text" class="form-control" placeholder="Centro de Custo">
        </div>
        <div class="col-3">
            <input [(ngModel)]="solicitar.codProj" style="margin-top: 10px" name="codProjeto" type="text" class="form-control" placeholder="Codigo do Projeto">
        </div>
        <div class="col-3">
            <input [(ngModel)]="solicitar.modelo" style="margin-top: 10px" name="tamanho" type="text" class="form-control" placeholder="tamanho">
        </div>
        <div class="col-3">
            <input [(ngModel)]="solicitar.genero" style="margin-top: 10px" name="sexo" type="text" class="form-control" placeholder="sexo">
        </div>

    </div>
    <button style="margin-left: 20px; margin-top: 10px;" type="button" class="btn btn-dark" data-dismiss="modal" (click)="enviarPedido()">Enviar
    Pedido</button>
</form>

<h1 style="margin-left: 35px; text-align: center;">Produtos Disponiveis</h1>
<table class="table table-hover" style="margin-top: 20px; width: 100%;margin-left: 25px;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do Produto</th>
            <th scope="col">Quantidades</th>
            <th scope="col">Valor Unitario (R$)</th>
            <th scope="col">Genero</th>
            <th scope="col">Tipo do Produto</th>
            <th scope="col">Modelo</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produto of pedidos">
            <th scope="row">{{produto.idProduto}}</th>
            <td>{{produto.nomeProd}}</td>
            <td>{{produto.qntProd}}</td>
            <td>{{produto.valorUnit}}</td>
            <td>{{produto.genero}}</td>
            <td>{{produto.tipoProd}}</td>
            <td>{{produto.modeloProd}}</td>
        </tr>
    </tbody>
</table>




<!-- <div class="modal-body">
                <form>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="enviarPedido()">Enviar
                    Pedido</button>
            </div>
        </div>
    </div>
</div> -->