<h2 class="home">Bem Vindo ao Portal do Marketing<br>Home</h2>
<div class="row" style="margin-left: 25px;  margin-top: 13px;">
    <div class="col">
        <input type="text" class="form-control" [(ngModel)]="prodBusc.nomeProd" placeholder="Consultar Produto">
        <button class="btn btn-dark" type="button" (click)="consultarProd()">Buscar</button>
    </div>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id do Produto</th>
            <th scope="col">Nome do Produto</th>
            <th scope="col">Quantidades</th>
            <th scope="col">Valor Unitario (R$)</th>
            <th scope="col">Tamanho</th>
            <th scope="col">Sexo</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos">
            <th scope="row">{{produto.idProduto}}</th>
            <td>{{produto.nomeProd}}</td>
            <td>{{produto.qntProd}}</td>
            <td>{{produto.valorUnit}}</td>
            <td>{{produto.modeloProd}}</td>
            <td>{{produto.genero}}</td>

        </tr>
    </tbody>
</table>


<nav aria-label="Page navigation example" style="margin-left: 25px;">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>