<h3 class="textGen">Gerenciamento de Produto</h3>
<!-- Button trigger modal -->
<form>
    <h4 class="newProd">Novo Produto</h4>
    <div class="row">
        <div class="col">
            <input [(ngModel)]="prod.idProduto" disabled name="idProduto" type="number" class="form-control" value="0" placeholder="0">
        </div>
        <div class="col-3">
            <input [(ngModel)]="prod.nomeProd" name="nomeProduto" type="text" class="form-control" placeholder="Nome do Produto">
        </div>
        <div class="col-3">
            <input [(ngModel)]="prod.qntProd" name="qntProduto" type="number" class="form-control" placeholder="Quantidades">
        </div>
        <div class="col-3">
            <input [(ngModel)]="prod.valorUnit" name="valorUnitario" type="text" class="form-control" placeholder="Valor Unitario">
        </div>
        <div class="col-3">
            <input [(ngModel)]="prod.genero" name="genero" type="text" class="form-control" placeholder="genero">
        </div>
        <div class="col-3">
            <input [(ngModel)]="prod.tipoProd" name="tipoProd" type="text" class="form-control" placeholder="tipo de produto">
        </div>
        <div class="col-3">
            <input [(ngModel)]="prod.modeloProd" name="modelo do produto" type="text" class="form-control" placeholder="modelo do produto">
        </div>

    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">limpar</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="salvarNovoProduto()">Salvar
        Produto</button>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr style="text-align: center;">
            <th>Id do Produto</th>
            <th>Nome do Produto</th>
            <th>Quantidades</th>
            <th>Valor Unitario (R$)</th>
            <th>Genero</th>
            <th>Tipo de Produto</th>
            <th>Modelo do Produto</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produtoBrq of produtos">
            <th scope="row">{{produtoBrq.idProduto}}</th>
            <td>{{produtoBrq.nomeProd}}</td>
            <td>{{produtoBrq.qntProd}}</td>
            <td>{{produtoBrq.valorUnit}}</td>
            <td>{{produtoBrq.genero}}</td>
            <td>{{produtoBrq.tipoProd}}</td>
            <td>{{produtoBrq.modeloProd}}</td>
            <td><button type="button" class="btn btn-success" (click)="editarProduto(produtoBrq)">Editar</button></td>
            <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletarProdutoModal" (click)="excluir(produtoBrq)">Excluir</button></td>
        </tr>
    </tbody>
</table>

<!-- Modal DELETAR -->
<div class="modal fade" id="deletarProdutoModal" tabindex="-1" role="dialog" aria-labelledby="deletarProdutoModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletarProdutoModal">Deletar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem Certeza que deseja Excluir ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Não</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="sim(produtoBrq)">Sim</button>
            </div>
        </div>
    </div>
</div>