<h2 style="margin-left: 35px; text-align: center; margin-top: 10px;">Pedidos Recebidos</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do Gestor</th>
            <th scope="col">Nome do Solicitante</th>
            <th scope="col">Centro de Custo</th>
            <th scope="col">Codigo do Proejeto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Genero</th>
            <th scope="col">Modelo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos">
            <th>{{pedido.idPedido}}</th>
            <td>{{pedido.nomeGestor}}</td>
            <td>{{pedido.nomeSolic}}</td>
            <td>{{pedido.codProj}}</td>
            <td>{{pedido.centroCusto}}</td>
            <td>{{pedido.qntProduto}}</td>
            <td>{{pedido.genero}}</td>
            <td>{{pedido.modelo}}</td>
        </tr>
    </tbody>
</table>